{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block title %}Login{% endblock title %}

{% block content %}

<h2 class="text-center mt-3">User Login</h2>
<div class="row ml-3">
    <div class="col-lg-4 cols-md-6 col-sm-3 g-3">
        <form method="POST" class="mr-8" action="{{  art.get_absolute_url }}" enctype='multipart/form-data' multiple>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-block">Login</button>
        </form>
    </div>
</div>
<br>

{% endblock  %}
