{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block title %}Logout{% endblock title %}

{% block content %}

<h2 class="text-center mt-3">logout</h2>
<div class="row ml-3">
    <div class="col-lg-4 cols-md-6 col-sm-3 g-3">
        <h5>You are logged out ...</h5>

        <a class="pr-3" href="{% url 'accounts:login' %}">
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </a>
        <a class="pl-3" href="{% url 'accounts:register' %}">
            <button type="submit" class="btn btn-primary pl-4">Sin-up</button>
        </a>
    </div>
</div>
<br>

{% endblock  %}
