{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block title %}Sin-up{% endblock title %}

{% block content %}

<h2 class="text-center mt-3">Sign-up</h2>
<div class="row ml-3">
    <div class="col-lg-8 cols-md-6 col-sm-3 g-3">
        <form method="POST" class="mr-8" action="" enctype='multipart/form-data' multiple>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign-up</button>
        </form>

    </div>
</div>
<br>

{% endblock  %}