{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block title %}User Profile{% endblock title %}


{% block content %}
<h2 class="text-left mt-3">Profile</h2>
<div class="row ml-3">
    <div class="col-lg-8 cols-md-6 col-sm-3 g-3 mb-3">
        <p><b>Username</b>: {{ user.username }}</p>
        <p><b>First name</b>: {{ user.first_name }}</p>
        <p><b>Last name</b>: {{ user.last_name }}</p>
        <p><b>Email</b>: {{ user.email }}</p>
        <P><b>City</b>:{{ user.city }}</P>
    </div>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'accounts:update_profile' %}" class="nav pb-3">
                <button type="button" class="btn btn-primary">Update Profile</button>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'accounts:change_pass' %}" class="nav pb-3">
                <button type="button" class="btn btn-primary">Change Password</button>
            </a>
        </li>
    </ul>


</div>
{%  endblock  %}
change_password