{% extends 'layout.html' %}
{% load bootstrap_tags %}
{% block title %}Change Password{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-8 col-sm-offset-2">
		
			<form class="form-signin" action="" method="POST">
		        <h2 class="form-signin-heading">Change Password</h2>
				{% csrf_token %}
				{{change_form|as_bootstrap}}
				<button type="submit" class="btn btn-primary pull-right">Change Password</button>
				<br>
			</form>
			<br><br>

		</div>
	</div>
</div>

{% endblock content %}



