{% extends 'layout.html' %}
{% load bootstrap_tags %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		
		<form class="form-signin" action="." method="POST">{% csrf_token %}
	        <h2 class="form-signin-heading">Please sign in</h2>
	       	{{form|as_bootstrap}}
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      	</form>
		<br><br>

		<div class="panel">
			<a href="/account/reset-password" title="">
				<button type="button" class="btn btn-primary btn-block">Forget Password</button>
			</a>
			<a href="/account/register" title="">
				<button type="button" id="register"  class="btn btn-primary btn-block">Register</button>
			</a>
		</div>
			
	</div>
</div>
{% endblock content %}